{% extends 'homebase.html.twig' %}

{% block title %}{{ setting[0].title }} Best Airport Transportation Reservation {% endblock %}


{% block keywords %} {{ setting[0].keywords }}Transport,reservation,service,airport,vip{% endblock %}
{% block description %}{{ setting[0].description }} Can go where you want with vip services{% endblock %}


{% block body %}

    {% block header %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/slick.css')}}"/>

{% endblock %}
    <!-- start banner Area -->
 <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-between">
                <div class="banner-content col-lg-6 col-md-6 ">
                    <h6 class="text-white ">Need a ride? just call</h6>
                    <h1 class="text-uppercase">
                        911 999 911
                    </h1>
                    <p class="pt-10 pb-10 text-white">
                        Whether you enjoy city breaks or extended holidays in the sun, you can always improve your travel experiences by staying in a small.
                    </p>
                    <a href="#" class="primary-btn text-uppercase">Call for taxi</a>
                </div>
               <div class="col-lg-4  col-md-6 header-right">
                    <h4 class="pb-30">Book Your Texi Online!</h4>
                    <form class="form">
                        <div class="from-group">
                            <input class="form-control txt-field" type="text" name="name" placeholder="Your name"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your name'">
                            <input class="form-control txt-field" type="email" name="email" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'">
                            <input class="form-control txt-field" type="tel" name="phone" placeholder="Phone number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone number'">
                        </div>
                        <div class="form-group">
                            <div class="default-select" id="default-select">
                                <select>

                                    <option value="" disabled selected hidden>From Destination</option>
                                    <option value="1">Destination One</option>
                                    <option value="2">Destination Two</option>
                                    <option value="3">Destination Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="default-select" id="default-select2">
                                <select>
                                    <option value="" disabled selected hidden>To Destination</option>
                                    <option value="1">Destination One</option>
                                    <option value="2">Destination Two</option>
                                    <option value="3">Destination Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group dates-wrap">
                                <input id="datepicker2" class="dates form-control"  placeholder="Date & time" type="text">
                                <div class="input-group-prepend">
                                    <span  class="input-group-text"><span class="lnr lnr-calendar-full"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <button class="btn btn-default btn-lg btn-block text-center text-uppercase">Make reservation</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- Start home-about Area -->
    <section class="home-about-area section-gap">
        <div class="container">




        </div>
    </section>
    <!-- End home-about Area -->


            <div class="row">
                <div class="col-lg-12">
                    {% block slider %}{% include('home/slider.html.twig') %} {% endblock %}
                </div>



    <!-- Start services Area -->
    <section class="services-area pb-120">
        <div class="container">
            <div class="row section-title">
                <h1>What Services we offer to our clients</h1>
                <p>Who are in extremely love with eco friendly system.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 single-service">
                    <span class="lnr lnr-car"></span>
                    <a href="#"><h4>Taxi Service</h4></a>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
                <div class="col-lg-4 single-service">
                    <span class="lnr lnr-briefcase"></span>
                    <a href="#"><h4>Office Pick-ups</h4></a>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
                <div class="col-lg-4 single-service">
                    <span class="lnr lnr-bus"></span>
                    <a href="#"><h4>Event Transportation</h4></a>
                    <p>
                        Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End services Area -->

    <!-- Start image-gallery Area -->
    <section class="image-gallery-area section-gap">
        <div class="container">
            <div class="row section-title">
                <h1>Image Gallery that we like to share</h1>
                <p>New Cars</p>
            </div>
            <div class="row">

                {% for rs in cars %}

                <div class="col-lg-4 single-gallery">
                    <a href="{{ path('cars_show',{'id':rs.id}) }}">
                        <img src="{{ asset('uploads/images/' ~rs.image) }}" ></a>

                    <h4>{{ rs.title }}</h4>
                </div>

                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End image-gallery Area -->



    <!-- Start latest-blog Area -->
    <section class="latest-blog-area section-gap">
        <div class="container">
            <div class="row section-title">
                <h1>New Cars</h1>

            </div>
            {% for rs in cars %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-latest-blog">
                        <div class="thumb">



                            <img class="img-fluid" src="{{ asset('uploads/images/' ~rs.image) }}" >
                        </div>




                        <ul class="tags">
                            <li><a href="{{ path('cars_show',{ 'id' : rs.id }) }}">Travel</a></li>
                            <li> {{ rs.title }}</li>
                        </ul>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End latest-blog Area -->

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>

        $('.ceren-slider').slick({
            dots: true,
            infinite: false,
            speed: 300,
            slidesToShow: 3,
            slidesToScroll: 3,
            arrows: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
    </script>
{% endblock %}