


<div class="ceren-slider">
     {% for rs in slider %}

    <div class="slide ">
       <a href="/cars/{{ rs.id }}"> <img src="{{ asset('uploads/images/') }}{{ rs.image }}" alt=""></a>
    </div>

    {% endfor %}
    <!--
    <div class="slide">
        <img src="{{ asset('assets/img/limousine.png') }}" alt="">
    </div>
    <div class="slide">
        <img src="{{ asset('assets/img/minibus.png') }}" alt="">
    </div>
    <div class="slide">
        <img src="{{ asset('assets/img/suv.png') }}" alt="">
    </div>
    <div class="slide">
        <img src="{{ asset('assets/img/van.png') }}" alt="">
    </div>
    <div class="slide">
        <img src="{{ asset('assets/img/economy.png') }}" alt="">
    </div>
    !-->
</div>
