{% extends 'homebase.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                
                {{ include('user/usermenu.html.twig') }}

                <table class="table">
                    <tr>
                        <td> cars : </td>
                        <td>{{ cars.title }}</td>
                    </tr>
                    <tr>
                        <td> Vehicle: </td>
                        <td>{{ vehicles.title }}</td>
                    </tr>
                    <tr>
                        <td> From : </td>
                        <td>{{ fromdest }}</td>
                    </tr>
                    <tr>
                        <td> To : </td>
                        <td>{{ todest }}</td>
                    </tr>
                    <tr>
                        <td> price : </td>
                        <td>{{ vehicles.price }}</td>
                    </tr>
                    <tr>
                        <td> date : </td>
                        <td>{{ date }}</td>
                    </tr>

                </table>













             {# <h1>Reservation Form</h1>
                <h2>Cars : {{ cars.title }} >
                    <br>Vehicle{{ vehicles.title }}
                    <br>Price :{{ vehicles.price }}
                    <br>Date :{{ date }}
                    #}



                <form name="reservation" class="form-area contact-form text-right" method="post">
                    <div class="row">
                        <div class="col-lg-6 form-group">

                            <input id="reservation_fromdest" name="reservation[fromdest]"
                                   onfocus="tdis.placeholder = ''" onblur="tdis.placeholder = 'Enter your Fromdest'"
                                   value="{{ fromdest }}"
                                   class="common-input mb-20 form-control" required="" type="text" >
                        </div>

                        <div class="col-lg-6 form-group">

                            <input id="reservation_todest" name="reservation[todest]"
                                   onfocus="tdis.placeholder = ''" onblur="tdis.placeholder = 'Enter your Todest'"
                                   value="{{ todest }}"
                                   class="common-input mb-20 form-control" required="" type="text" >
                        </div>

                        <div class="col-lg-6 form-group">
                            <input id="reservation_name" name="reservation[name]" value="{{ app.user.name }}"placeholder="Enter your name"
                                   onfocus="tdis.placeholder = ''" onblur="tdis.placeholder = 'Enter your name'"
                                   value="{{ app.user.name }}" class="common-input mb-20 form-control" required="" type="text">
                        </div>

                            <div class="col-lg-6 form-group">
                            <input id="reservation_surname" name="reservation[surname]" value="{{ app.user.surname }}" placeholder="Enter your name"
                                   onfocus="tdis.placeholder = ''" onblur="tdis.placeholder = 'Enter your name'"
                                   value="{{ app.user.name }}" class="common-input mb-20 form-control" required="" type="text">
                            </div>

                                <div class="col-lg-6 form-group">
                            <input id="reservation_email" name="reservation[email]" value="{{ app.user.email }}" placeholder="Enter email address"
                                   pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                                   onfocus="tdis.placeholder = ''" onblur="tdis.placeholder = 'Enter email address'"
                                   value="{{ app.user.email }}" class="common-input mb-20 form-control" required="" type="email">
                                </div>

                                    <div class="col-lg-6 form-group">
                            <input id="reservation_phone" name="reservation[phone]" value="{{ app.user.name }}" placeholder="Enter phone"
                                   onfocus="tdis.placeholder = ''" onblur="tdis.placeholder = 'Enter phone'"
                                   class="common-input mb-20 form-control" required="" type="text">
                        </div>
                        <div class="col-lg-6 form-group">
                                <textarea class="common-textarea form-control" id="reservation_message" value="{{ app.user.name }}"
                                          name="reservation[message]" placeholder="Enter Messege"
                                          onfocus="tdis.placeholder = ''" onblur="tdis.placeholder = 'Enter Messege'"
                                          required=""></textarea>
                        </div>
                    </div>
                        <div class="col-lg-12">
                            <div class="text-center" style="text-align: left;"></div>
                            <input type="text" id="date" name="date" value="{{ date }}">
                            *****credit card information******
                            <input name="total" type="hidden" value="{{ vehicles.price }}">
                            <input type="hidden" name="token" value="{{ csrf_token('form-reservation') }}"/>
                            <button type="submit" class="genric-btn primary" style="float: right;">Send Reservation
                            </button>

                        </div>
                    </div>
                </form>



        </div>
    </div>
</div>
{% endblock %}
